.footer {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-top: 80px;
  font-size: 48px;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

.footer a:hover {
  transform: scale(1.2);
  color: #00ffcc;
}
